<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Limited Scope</title>
</head>
<body>
    I'd like to offer you one measly cookie. I personally hate how cookies have been used against us
    and despise how every website I go to nowadays wants me to sign my life away with their "Sell yourself to the highest
    bidder" checkbox defaulted to on. The thing is, though, cookies at their core are useful. This one that I would like to
    give you will just prevent you from having to sign in to Strava everytime you come here. Its no big deal if you want to
    say no. Your session will still be preserved so you will only have to sign in at the beginning of each session.
    What do you think?
    <form method="POST" action={% url 'strivers:store_cookie' %}>
    <fieldset>
        <legend>Accept the cookie?</legend>
        <input type="radio" id="cookies-yes" name="cookie" value="yes">
        <label for="cookies-yes">Yes</label>
        <input type="radio" id="cookies-no" name="cookie" value="no">
        <label for="cookies-no">No</label>
    </fieldset>
        {% csrf_token %}
        <button type="submit">Ok</button>
    </form>
</body>
</html>