{% extends "base.html" %}

{% block title %}Strivers Home{% endblock %}

{% block content %}
<div>
    <h1>Strivers</h1>
    {% if issaved %}
        <h2> Welcome back, {{ name }} </h2>
        <form action="{% url 'strivers:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout?</button>
        </form>
    {% else %}
        <h2> Welcome!</h2>
    {% endif %}
</div>

{% for opt, act in option_action %}
    <form action="{{ act }}" method="POST">
    {% csrf_token %}
        <button type="submit">{{ opt }}</button>
    </form>
{% endfor %}

<p>Issue? Please <a href="https://www.github.com/jiversivers/strivers">submit an issue on GitHub</a>!</p>

{% endblock %}