<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strivers</title>
</head>
<header>
    <h1>Strivers</h1>
    {% if issaved %}
        <h2> Welcome back, {{ username }} </h2>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout?</button>
        </form>
    {% else %}
        <h2> Welcome!</h2>
    {% endif %}
</header>
<body>
    {% for button, action in option_actions %}
        <form action="{{ action }}" method="POST">
        {% csrf_token %}
            <button type="submit">{{ button }}</button>
        </form>
    {% endfor %}
</body>
<footer>
    Issue? Please <a href="mailto:iversjesse@gmail.com">contact me!</a>
</footer>
</html>