[submodule "strava-swagger"]
	path = strava-swagger
	url = https://github.com/jiversivers/strava-swagger.git
[submodule "strava_swagger"]
	path = strava_swagger
	url = https://www.github.com.jiversivers/strava_swagger.git
